.loader {
    width: 80px;
    height: 80px;
    border: 10px solid #cbd2f8;
    border-bottom-color: #3a27e7;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 