
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,500&family=Poppins:wght@200;300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input,button{
  border: 0;
  outline: 0;
}
ul,li{
  list-style: none;
}
html,body{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif; 
  scroll-behavior: smooth;
  -webkit-tap-highlight-color:transparent;
}
.swiper-button-next{
  margin-right: 4rem !important;
  background-color: #8429cd;
  color: white;
  padding: 3rem;
  border-radius: 50%;
  font-weight: bold;
}
.swiper-button-prev{
  margin-left: 4rem !important;
  background-color: #8529cd;
  color: white;
  padding: 3rem;
  border-radius: 50%;
  font-weight: bold;
}
.swiper-button-next:hover{
  margin-right: 4rem !important;
  background-color: #cba1ee;
  color: white;
  padding: 3rem;
  border-radius: 50%;
  font-weight: bold;
}
.swiper-button-prev:hover{
  margin-left: 4rem !important;
  background-color: #c99ceb;
  color: white;
  padding: 3rem;
  border-radius: 50%;
  font-weight: bold;
}

/* Hide scrollbar */
.hide_scrollbar::-webkit-scrollbar {
    display: none;
}

.text-decorate{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}